@model IEnumerable<AspNet5EntityTest.Models.Book>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<form asp-controller="Books" asp-action="Index" method="get">
    <p>
        Title: <input type="text" name="SearchString" />
        Genre: @Html.DropDownList("bookGenre", "All")
        <input type="submit" value="Filter" />
    </p>
</form>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Genre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Year)
        </th>
        <th></th>
    </tr>
    
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Genre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Year)
        </td>
        <td>
            <a asp-action="Edit" asp-route-id="@item.BookId">Edit</a> |
            <a asp-action="Details" asp-route-id="@item.BookId">Details</a> |
            <a asp-action="Delete" asp-route-id="@item.BookId">Delete</a>
        </td>
    </tr>
}
</table>
